In [6]:
# Libraries
import time
import pandas as pd    
# ------------- # 
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
# ------------- # 
from webdriver_manager.chrome import ChromeDriverManager

# library for interacting with the operating system
import os
# ------------- # 
from bs4 import BeautifulSoup
import requests
# ------------- # 
from langdetect import detect
# ------------- # 
import random

 # ------------- # 
from datetime import date

In [7]:
# installing driver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

[WDM] - Downloading: 100%|██████████| 6.79M/6.79M [00:00<00:00, 10.5MB/s]

In [8]:
# Enter to the site
driver.get('https://huntr.co/track/boards/638e02981183bc002f3108e1/board')
time.sleep(2)

In [17]:
jobs_title=[]
company=[]

In [28]:
# Applied Jobs
jobs=driver.find_elements(By.CSS_SELECTOR,"p[class^='Text__Paragraph-sc-1rtclo2-1 hZBCNR']")
#time.sleep(3)
for job in jobs:
    jobs_title.append(job.text)
#len(jobs)

companies=driver.find_elements(By.CSS_SELECTOR,"p[class^='Text__Paragraph-sc-1rtclo2-1 keImHJ']")
for comp in companies:
    company.append(comp.text)

In [29]:
len(jobs_title)

93

In [30]:
len(company)

93

In [31]:
df_jobs=pd.DataFrame(list(zip(jobs_title,company)))

In [32]:
df_jobs

,0,1
0,Junior data Engineer,Blend360
1,Solution Engineer!! start up!!,FRG Technology Consulting
2,Data Analyst/BI,Aigent
3,Data Analyst,Canyon Bicycles
4,Junior Data Analyst,Brightstone
...,...,...
88,Junior Data Engineer,Accenture
89,Data Scientist NLP,bunq
90,Junior/Intermidate Data Scientist,GRESB
91,Junior Data Scientist,Dashmote
92,Junior Data Scientist - Finance & Banking (Ams...,Young Financials

In [34]:
df_jobs.to_excel("Hntr_progress.xlsx",index=False)